@page "/"

@using Neodenit.DialogAssistant.Shared.Interfaces;
@using Neodenit.DialogAssistant.Shared.Models

@inject IAuthService AuthService
@inject IUserService UserService

<AuthorizeView>
    <Authorized>
        <h1>Users</h1>

        @{
            if (users is not null)
            {
                foreach (var user in users)
                {
                    var href = $"chat/{user.ID}/";

                    <div class="list-group">
                        <a href="@href" class="list-group-item list-group-item-action">@user.DisplayName</a>
                    </div>
                }
            }
        }

        @code {
            private IEnumerable<User> users;

            protected override async Task OnInitializedAsync()
            {
                string userName = await AuthService.GetNameAsync();

                IEnumerable<User> allUsers = await UserService.GetAllAsync();
                var filteredUsers = allUsers.Where(u => u.Name != userName);
                users = filteredUsers.OrderBy(u => u.DisplayName);
            }
        }

    </Authorized>
    <NotAuthorized>
        <h3>Please log in!</h3>
    </NotAuthorized>
</AuthorizeView>
